<ion-header>
  <ion-toolbar>
    <ion-title>drop-off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <mat-stepper orientation="vertical" linear="true" >
    <mat-step color="primary">
      <ng-template matStepLabel >Validate Truck Location Step</ng-template>
      <ng-template matStepContent>



      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ion-button size="small" (click)="getPicture()">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Picture</ion-label>
      </ion-button>


      <ion-card *ngIf="photo">
        <ion-card-content>
          <img [src]="photo">
        </ion-card-content>
      </ion-card>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</ion-content>
