<ion-header>
  <ion-toolbar>
    <ion-title>Drop Off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <mat-stepper orientation="vertical" linear="true" >
    <mat-step color="primary">
      <ng-template matStepLabel >Validate Truck Location Step</ng-template>
      <ng-template matStepContent>
          <mat-card class="example-card">
            <mat-card-title style="color: darkgoldenrod;">Please wait</mat-card-title>
            <mat-card-content style="margin-top: 30px;">
              <p *ngIf="stillValidating">we are validating that you are parked at the location</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>RETRY</button>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar *ngIf="stillValidating" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>   
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ion-button size="small" (click)="getPicture()">
        <ion-icon name="camera" slot="start"></ion-icon>
        <ion-label>Upload Image</ion-label>
      </ion-button>
      <ion-button size="small" (click)="getPicture()">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-button>
      <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>

      <ion-card *ngIf="photo">
        <ion-card-content>
          <img [src]="photo">
        </ion-card-content>
      </ion-card>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</ion-content>
