<ion-header>
  <ion-toolbar>
    <ion-title>Drop Off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <mat-stepper orientation="vertical" linear="true" >
    <mat-step color="primary">
      <ng-template matStepLabel >Validate Truck Location Step</ng-template>
      <ng-template matStepContent>
          <mat-card class="example-card">
            <mat-card-title style="color: forestgreen;">Location Confirmed</mat-card-title>
            <mat-card-content style="margin-top: 30px;">
              <p *ngIf="stillValidating">We have confirmed you are in the location that you selected</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>NEXT</button>
            </mat-card-actions>
          </mat-card>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Get Current Miles step</ng-template>
      <mat-card class="example-card">
        <mat-card-title style="color: green;">Odometer</mat-card-title>
        <mat-card-content style="margin-top: 30px;">
          <p >Please take a picture to the vehicle odometer</p>
          <ion-card *ngIf="photoO">
            <ion-card-content>
              <img [src]="photoO">
              <ion-item>
                <ion-label position="floating">Current Miles</ion-label>
                <ion-input type="text" placeholder="Current Miles" value={{currentMiles}}></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <mat-card-footer class="ion-text-center">
            <ion-button size="small" (click)="getPictureO()">
              <ion-icon name="camera" slot="start"></ion-icon>
              <ion-label>Take Foto</ion-label>
            </ion-button>
            <ion-button style="background-color: blanchedalmond;" size="small">
              <ion-icon name="checkmark" slot="start"></ion-icon>
              <ion-label>Confirm</ion-label>
            </ion-button>
          </mat-card-footer>
        </mat-card-content>
        </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Vehicle return photos Step</ng-template>
      <mat-card class="example-card">
        <mat-card-title style="color: green;">Vehicle photos</mat-card-title>
        <mat-card-content style="margin-top: 30px;">
            <p >Please take 6 pictures around the vehicle</p>
            <ion-card *ngIf="photo">
              <ion-card-content>
                  <ion-grid>
                    <ion-row>
                        <ion-col>
                          <img [src]="photo" width="100%">
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-card-content>
            </ion-card>
            <mat-card-footer class="ion-text-center">
                <ion-button size="small" (click)="getPicture()">
                  <ion-icon name="camera" slot="start"></ion-icon>
                  <ion-label>Take Photos</ion-label>
                </ion-button>
                <ion-button style="background-color: blanchedalmond;" size="small">
                  <ion-icon name="checkmark" slot="start"></ion-icon>
                  <ion-label>Confirm</ion-label>
                </ion-button>
                <div>
                  <mat-progress-bar *ngIf="photo" mode="indeterminate"></mat-progress-bar>
                </div>
            </mat-card-footer>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel >Get the Key box code</ng-template>
      <ng-template matStepContent>
          <mat-card class="example-card">
            <mat-card-title style="color: green;">Excellent!</mat-card-title>
            <mat-card-content style="margin-top: 30px;">
              <p>You have completed the previous validations. Now use the code for open the box and save the key. </p>
              <div class="code">8596</div>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>End</button>
            </mat-card-actions>
            <mat-card-footer>

            </mat-card-footer>
          </mat-card>
      </ng-template>
    </mat-step>
  </mat-stepper>
</ion-content>
